:root {
  --prime-bcg: #ffffff;
  --second-bcg: #2f303a;
  --special-bcg: #f5f4fa;
  --hero-bcg: #c4c4c4;
  --text: #212121;
  --small-text: #757575;
  --footer-text: rgba(255, 255, 255, 0.6);
  --accent: #2196f3;
  --icons: #afb1b8;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--text);
  background-color: var(--prime-bcg);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.filter-works__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: inherit;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-color {
  color: var(--accent);
}

.footer__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.hero__button {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--prime-bcg);
  background-color: var(--accent);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.footer__subscribe-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--prime-bcg);
  background-color: var(--accent);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.socnet__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socnet__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.socnet__item-link:hover, .socnet__item-link:focus {
  background-color: var(--accent);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socnet__item-link:hover .socnet__item-icon, .socnet__item-link:focus .socnet__item-icon {
  fill: var(--prime-bcg);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socnet__item-icon {
  fill: var(--icons);
}

.footer__socnet-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer__socnet-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socnet-item-link:hover, .footer__socnet-item-link:focus {
  background-color: var(--accent);
}
.footer__socnet-item-link:hover .footer__socnet-item-icon, .footer__socnet-item-link:focus .footer__socnet-item-icon {
  fill: var(--prime-bcg);
}
.footer__socnet-item-link:not(:first-child) {
  margin-left: 10px;
}

.footer__socnet-item-link .footer__socnet-item-icon,
.footer__socnet-item-link .footer__socnet-item-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socnet-item-icon {
  fill: var(--prime-bcg);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  background-color: var(--prime-bcg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent);
}

.contact-form {
  width: 528px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.action {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--text);
  margin-bottom: 2px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon-data {
  position: absolute;
  top: 0;
  left: 15px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-on-input {
  position: relative;
}

.form-field label {
  margin-top: 10px;
  margin-bottom: 4px;
}

.form-field input:last-child {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.icon-on-input:focus-within > .form-input,
.form-field .comment:focus-within {
  border: 1px solid var(--accent);
  cursor: pointer;
}

.icon-on-input:focus-within > .icon-data {
  fill: var(--accent);
}

.icon-on-input .form-input,
.form-field .comment {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  color: var(--small-text);
}

.comment {
  padding-top: 12px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.comment:focus {
  border: 1px solid var(--accent);
  color: var(--text);
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: var(--prime-bcg);
  border: 2px solid var(--text);
  border-radius: 4px;
  margin-right: 8px;
}

.checkbox .form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox .form-input:checked + .checkbox-icon {
  border-color: var(--accent);
  background-color: var(--accent);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox .form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.terms {
  color: var(--accent);
}

.agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--prime-bcg);
  background-color: var(--accent);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-submit:hover, .btn-submit:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header {
  background-color: var(--prime-bcg);
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
  list-style: none;
}

.navigation__item:not(:first-child) {
  margin-left: 50px;
}

.navigation__item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text);
}

.navigation__link {
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus,
.navigation__link .navigation__item .current {
  color: var(--accent);
}
.navigation__link.current::after {
  content: "";
  background-color: var(--accent);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  top: 44px;
  position: absolute;
}

.feedback {
  margin-left: auto;
}
.feedback__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.feedback__item:not(:first-child) {
  margin-left: 50px;
}

.feedback__item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--small-text);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__item a:hover, .feedback__item a:focus {
  color: var(--accent);
}

.feedback__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback__link:hover .feedback__icon--mail, .feedback__link:focus .feedback__icon--mail, .feedback__link:hover .feedback__icon--tel, .feedback__link:focus .feedback__icon--tel {
  fill: var(--accent);
}

.feedback__icon--mail {
  margin-right: 10px;
  fill: var(--small-text);
}

.feedback__icon--tel {
  margin-right: 10px;
  fill: var(--small-text);
}

.feedback__icon--mail,
.feedback__icon--tel {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  max-width: 1600px;
  height: 600px;
  color: var(--prime-bcg);
  background-color: var(--hero-bcg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/heroimg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.features {
  padding-top: 94px;
}

.features__list {
  list-style: none;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  width: 270px;
}
.features__item:not(:first-child) {
  margin-left: 30px;
}
.features__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--special-bcg);
  margin-bottom: 30px;
}

.features__item-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__item-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--small-text);
  margin-top: 10px;
}

.antenna::before {
  background-image: url(../images/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.clock::before {
  background-image: url(../images/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.diagram::before {
  background-image: url(../images/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.activity {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.activity__list-item {
  position: relative;
}
.activity__list-item:not(:first-child) {
  margin-left: 30px;
}

.activity__list-item-name {
  position: absolute;
  width: 370px;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  color: var(--prime-bcg);
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding: 27px 82px 27px 83px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.team {
  background-color: var(--special-bcg);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.team__member {
  text-align: center;
  background-color: var(--prime-bcg);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__member:not(:first-child) {
  margin-left: 30px;
}

.team__member-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.team__member-job {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--small-text);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons);
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent);
  border: 1px solid var(--accent);
}
.clients__link:hover .clients__logo, .clients__link:focus .clients__logo {
  fill: var(--accent);
}

.clients__item:not(:first-child) {
  margin-left: 30px;
}

.clients__logo {
  fill: var(--icons);
}

.clients__link .clients__logo,
.clients__link .clients__logo {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
  background: var(--special-bcg);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--prime-bcg);
  background-color: var(--accent);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.filter-item {
  list-style: none;
}
.filter-item:not(:first-child) {
  margin-left: 8px;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  list-style: none;
}

.works-item {
  background-color: var(--prime-bcg);
  margin: 15px;
}
.works-item:nth-child(3n) {
  margin-right: 0;
}

.works-link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-link:hover, .works-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.works-link:hover .works-overlay::before, .works-link:focus .works-overlay::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.works-link:hover .works-overlay-text, .works-link:focus .works-overlay-text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.works-card {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.works-subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--small-text);
}

.works-overlay {
  position: relative;
  overflow: hidden;
}
.works-overlay::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-overlay-text {
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  color: var(--prime-bcg);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  color: var(--prime-bcg);
  background-color: var(--second-bcg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer__address-group-list {
  list-style-type: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__address-group-list a {
  text-decoration: none;
  color: var(--footer-text);
}

.footer__address {
  color: var(--prime-bcg);
}

.footer__address-group-item {
  margin-top: 9px;
}

.footer__address-group-item a,
.footer__address-group-item a {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-group-item a:hover, .footer__address-group-item a:focus,
.footer__address-group-item a:hover,
.footer__address-group-item a:focus {
  color: var(--accent);
}

.footer__join {
  margin-left: 70px;
}

.footer__subscribe {
  margin-left: auto;
}

.footer__subscribe input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: var(--small-text);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 16px;
}
.footer__subscribe input:focus {
  color: var(--prime-bcg);
}

.footer__icon--send {
  fill: var(--prime-bcg);
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */