:root {
    --prime-bcg: #ffffff;
    --second-bcg: #2f303a;
    --special-bcg: #f5f4fa;
    --hero-bcg: #c4c4c4;

    --text: #212121;
    --small-text: #757575;
    --footer-text: rgba(255, 255, 255, 0.6);

    --accent: #2196f3;
    --icons: #afb1b8;
}