.logo {
    font-family: Raleway;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: inherit;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-color {
    color: var(--accent);
}

.footer__logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}